.profile_data {
    display: flex;
    flex-direction: column;
    background-color: #d5dfea;
    padding: 10px;

}

.description {
    display: flex;
    flex-direction: column;
    color: #424242;
    font-size: large;
}
.descriptionItem{
    padding-bottom: 10px;
}

.edit {
    display: flex;
    justify-content: end;
}
.descriptionIcon{
    font-size: 20px;
}
