.profile_data {
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    box-shadow: 0 1px 8px 1px #919191;

}

.description {
    display: flex;
    flex-direction: column;
    color: #424242;
    font-size: large;
}
.descriptionItem{
    padding-bottom: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.edit {
    display: flex;
    justify-content: end;
}
.descriptionIcon{
    font-size: 20px;
}
