.header {
    grid-area: header;
    background-color: #205ac2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}
.socNetworkLogo{
    font-size: 50px;
    color: aqua;
}
.loginBlock{
    background-color: #e86767;
}
.loginBlock a {
    color: white;
}