.header {
    grid-area: header;
    background-color: #205ac2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.socNetworkLogo {
    font-size: 50px;
    color: white;
}

.loginBlock {
    padding-right: 20px;
    padding-left: 20px;
}

.login {
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login span {
    padding-right: 20px;
    color: white;
    font-size: 20px;
}

.loginBlock a {
    text-decoration: none;
}