.profileInfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
}

.profile_avatar img {
    width: 150px;
    border-radius: 5px;
    z-index: 2;
}

.profile_top img {
    width: 640px;
    height: 100px;
    border-radius: 5px;
    z-index: 1;
}

.description {
    color: #424242;
    font-size: large;
}
