.profile{
    display: flex;
    justify-content: start;
}
.avatarBlock {
    display: flex;
    flex-direction: row;
    width: 30%;
}
.profile_avatar img {
    padding-bottom: 10px;
    display: flex;
    width: 150px;
    border-radius: 5px;
    z-index: 2;
}
.profileInfoBlock{
    width: 60%;
    display: flex;
    flex-direction: column;
}


