.profile {
    display: flex;
    justify-content: start;
}

.avatarBlock {
    display: flex;
    flex-direction: row;
    width: 30%;
}

.profile_avatar {
    position: relative;
}

.profile_avatar img {
    padding-bottom: 10px;
    display: flex;
    width: 150px;
    border-radius: 5px;
    z-index: 2;
}

.onlineStatus {
    background-color: #94ce5e;
    width: 40px;
    text-align: center;
    position: absolute;
    left: 105px;
    top: 127px;
    padding: 1px;
    animation: blink 2s linear infinite;

}
.followingStatus{
    width: 90%;
    background-color: #94ce5e;
    color: white;
    padding: 5%;
    font-size: 20px;
    display: flex;
    justify-content: space-around;
}
.profileInfoBlock {
    width: 60%;
    display: flex;
    flex-direction: column;
}
@keyframes blink {
    0%, 20% {
        background: #94ce5e;
    }
    10% {
        background-color: #b4ff6c;
    }
}


