.post {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px #d5dfea;
    padding: 10px;
}
.avatarOfPost{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarOfPost img {
    width: 50%;
    border-radius: 40px;

}
.postContentBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #424242;
    background-color: #ffffff;
}
.likeCount {
    user-select: none;
    color: #dc2727;
    text-align: end;
    position: relative;
}
.heart{
    position: absolute;
    left: -25px;
    transition: 0.3s all;
}
.heart:hover{
    cursor: pointer;
    font-size: larger;
    transition: 0.2s all;
}
