.post {
    width: 600px;
    margin: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px #d5dfea;
    padding: 10px;
}
.postStyle {
    width: 300px;
    color: #424242;
    background-color: #ffffff;
}
.avatarOfPost img {
    width: 40px;
    border-radius: 40px;
    border: 1px solid #502a80;


}
.likeCount {
    width: 600px;
    background-color: #ffffff;
    color: #e86767;
    text-align: end;

}