.post {
    display: flex;
    align-items: center;
    margin-top: 10px;
    width: 90%;
    min-height: 100px;
    border-radius: 5px;
    box-shadow: 0 0 10px #d5dfea;
    padding: 10px;
}
.avatarOfPost{
    width: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.avatarOfPost img {
    width: 50%;
    border-radius: 40px;

}
.postContentBlock {
    display: flex;
    justify-content: space-between;
    width: 80%;
    color: #424242;
    background-color: #ffffff;
}
.likeCount {
    background-color: #ffffff;
    color: #dc2727;
    text-align: end;

}
