.paginator{
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    width: 80%;
}
.default{
    border: 1px solid #919191;
    cursor: pointer;
    width: 35px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 13px;
}
.currentPage {
    font-weight: bold;
    font-size: 14px;
    background-color: #884fc2;
    color: white;
}
