.app_wrapper {
    background-color: #d5dfea;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
"header header header"
"nav-bar content content";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 2fr 10fr;
    grid-gap: 10px;
    width: 100%;
    min-height: 100vh;
    padding-bottom: 5px;

}
.app_wrapper_content {
    grid-area: content;
    background-color: #ffffff;
    border-radius: 5px;
    font-family: Apple;

}
textarea:focus, input:focus{
    outline: none;
}
input:-webkit-autofill {
    color: #ffffff !important;
}
