.dialogs {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItem {
    color: #000000;
    text-decoration: none;
    padding: 10px;
}

.dialogItemLink {
    padding: 10px;
}
.dialogItemActive {
    color: #000000;

}

.messageItems {
    padding: 5px;
}

.messageItem {
    width: 300px;
    color: #525252;
    padding: 10px;
    background-color: #e2e1e7;
    border-radius: 5px;
    margin: 10px;
}
/*
.triangle {
    width: 0;
    height: 0;
    border-bottom: 10px solid #e2e1e7;
    border-left: 15px solid transparent;
    margin-top: 50px;
    position: relative;
}*/
