.dialogs {
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.dialogItems {
    padding: 10px;
}

.dialogItem {
    color: gold;
    text-decoration: none;
    padding: 10px;
}

.dialogItemLink {
    padding: 10px;
}
.dialogItemActive {
    color: #000000;
}

.messageItems {
    padding: 10px;
}

.messageItem {
    color: white;
    padding: 10px;
}